---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const books = await getCollection('books');

export const prerender = true
---

<Layout title='MyBooks, mis libros favoritos'>
	<main>
		<h1 class="text-center text-7xl font-extrabold">Airhune <span class="block">Books</span></h1>

		<section aria-label="Libros recomendados" class="grid gap-4 mt-8">
			<div class="container px-4 mx-auto max-w-screen-xl">
				<div class="container grid gap-6 md:grid-cols-2">
					{books.map((book: any) => (
						<article class="p-4 rounded-lg">
							<a href={`/libro/${book.data.slug_1}`} class="mb-4 transition hover:scale-105 flex justify-center items-center">
						  		<img transition:name={`img-${book.data.slug_1}`} src={book.data.img} alt={book.data.title} class="w-50 h-auto rounded" />
							</a>
							<h2 class="text-2xl font-bold mb-2 leading-tight text-center">{book.data.title}</h2>
							<p class="text-gray-300 mb-2 text-center">{book.data.author}</p>
							<p class="text-xs text-center mb-6">⏳ Lectura en {book.data.readtime} minutos</p>
							<p class="mb-4 text-gray-300 max-w-sm">{book.data.description}</p>
						</article>
					  ))}
				</div>
			</div>
		</section>
	</main>
</Layout>

