---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

// const books = await getCollection('books');

const query = "subject:fantasy+romance";
const lang = "en";
// const apiKey = 'AIzaSyAn9SIh7doL5KDyofkzQU5HJ-U8lmKfnek'; // Reemplaza con tu clave de Google Books API
const recommendedBooks_response = await fetch(
  `https://www.googleapis.com/books/v1/volumes?q=${encodeURIComponent(query)}&orderBy=newest&maxResults=8&langRestrict=${lang}`
);
const data = await recommendedBooks_response.json();
const recommendedBooks = data.items || [];
---

<Layout title="Airhune's Books, mis libros recomendados">
	<Hero />

	<div class="relative w-full max-w-xl mx-auto bg-white rounded-full mb-20">
		<input placeholder="Search" class="rounded-full w-full h-16 bg-transparent py-2 pl-8 pr-32 outline-none text-black border-2 border-gray-100 shadow-md hover:outline-none focus:ring-pink-200 focus:border-pink-200" type="text" name="query" id="query">
		<button type="submit" class="cursor-pointer absolute inline-flex items-center h-10 w- px-4 py-2 text-sm text-black transition duration-150 ease-in-out rounded-full outline-none right-3 top-3 bg-pink-600 sm:px-6 sm:text-base sm:font-medium hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
		  <svg class="w-4 h-4 sm:h-5 sm:w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
		  </svg>
		</button>
	  </div>

	<section aria-label="Libros recomendados" class="bg-white/10 backdrop-blur-lg p-5 rounded-4xl">
		<div class="bg-[#210A10] grid p-20 rounded-4xl">
			<div class="container px-4 mx-auto max-w-screen-xl">
				<h2 class="font-bold text-gray-300 text-5xl p-10 pb-20 pt-0 text-center">Last releases</h2>

				<div class="container grid gap-6 md:grid-cols-4">
				{
					recommendedBooks.map((recommendedBook: any) => (
						<article class="p-4 bg-[#ffabbe]/10 rounded-xl transition hover:scale-105">
							<a href={`/book/${recommendedBook.id}`} class="pointer rounded-md mt-2 mb-4 flex justify-center items-center">
								<img
									transition:name={`img-${recommendedBook.id}`}
									src={recommendedBook.volumeInfo.imageLinks.thumbnail}
									alt={recommendedBook.volumeInfo.title}
									class="w-50 max-h-75 min-h-75 rounded"
								/>
							</a>
							<h2 class="text-xl font-bold mt-5 mb-2 leading-tight text-center">
								{recommendedBook.volumeInfo.title}
							</h2>
							<p class="text-gray-300 mb-2 text-center">
								{recommendedBook.volumeInfo.authors}
							</p>
						</article>
					))
				}
				</div>
			</div>
		</div>
  	</section>
</Layout>
