---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Search from "../components/Search.astro";
import BookCard from "../components/BookCard.astro";

// const books = await getCollection('books');

const query = "subject:fantasy+romance";
const lang = "en";
const recommendedBooks_response = await fetch(
  `https://www.googleapis.com/books/v1/volumes?q=${encodeURIComponent(query)}&orderBy=newest&maxResults=6&langRestrict=${lang}`
);
const data = await recommendedBooks_response.json();
const recommendedBooks = data.items || [];

const query2 = "romantasy+bestseller";
const bestsellersBooks_response = await fetch(
  `https://www.googleapis.com/books/v1/volumes?q=${encodeURIComponent(query2)}&orderBy=newest&maxResults=6&langRestrict=${lang}`
);
const data_bestsellers = await bestsellersBooks_response.json();
const bestsellersBooks = data_bestsellers.items || [];
---

<Layout title="Airhune's Books, mis libros recomendados">
	<Hero />

	<Search />

	<section class="p-5 rounded-4xl">
		<!-- <div class="bg-[#210A10] grid p-20 rounded-4xl"> -->
			<div class="container mx-auto">
				<div class="flex items-center justify-between pb-10 pt-0">
					<h2 class="font-bold text-gray-200 text-5xl">New Releases Books</h2>
					<a href="/new-releases" class="px-3 py-2 rounded-full text-white rounded-full bg-white/20 pointer text-sm hover:bg-white/30 transition duration-200">
					  View all
					</a>
				  </div>


				<div class="container grid gap-6 md:grid-cols-6">
					{
						recommendedBooks.map((recommendedBook: any) => (
							<BookCard
								id={recommendedBook.id}
								thumbnail={recommendedBook.volumeInfo.imageLinks?.thumbnail}
								title={recommendedBook.volumeInfo.title}
								authors={recommendedBook.volumeInfo.authors}
							/>
						))
					}
				</div>

				<div class="flex items-center justify-between pb-10 pt-30">
					<h2 class="font-bold text-gray-200 text-5xl">Bestsellers</h2>
					<a href="/bestsellers" class="px-3 py-2 rounded-full text-white rounded-full bg-white/20 pointer text-sm hover:bg-white/30 transition duration-200">
					  View all
					</a>
				  </div>


				<div class="container grid gap-6 md:grid-cols-6">
					{
						bestsellersBooks.map((bestsellersBook: any) => (
							<BookCard
								id={bestsellersBook.id}
								thumbnail={bestsellersBook.volumeInfo.imageLinks?.thumbnail}
								title={bestsellersBook.volumeInfo.title}
								authors={bestsellersBook.volumeInfo.authors}
							/>
						))
					}
				</div>
			</div>
		<!-- </div> -->
  	</section>
</Layout>
